
/* reset browser default */
*{
  background: #eee;
  color: #003;    
 }
html{
  box-sizing:border-box;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
html,body{
  box-sizing: content-box;
  font-family:Verdana,sans-serif;
  line-height:1.5;
  overflow-x:hidden
}
    body{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      width: 100%;
        height: 100%;
    }
/* color */
.blue {
  background: #0277bd !important;
}
/* header area */
    .header{
        font-weight: bold;
        font-family: 'Inconsolata', Monaco, Consolas, 'Andale Mono', monospace;
        color: #263238;
        padding: 10px;
        width: 70%;
        position: absolute;
        left: 10%;
        top: 8%;
        font-size: 9vmax;
        text-align: center;
    }
    .header span{
        font-size: 1.5rem;
        text-align: left;
        margin-left: -18%;
        color: #0091ea ;
        border-radius: 5px;
    }
    .notification{
        color: #ff5722 ;
        padding: 10px;
        width: 60%;
        position: absolute;
        left: 19%;
        top: 31%;
        font-size: 1.1rem;
        text-align: center;    
    }

/* forms (buttons, input and select) */
    form{
        padding: 10px;
        width: 70%;
        position: absolute;
        left: 25%;
        top: 35%;   
        background: transparent !important;
    }
    button.digit{
      margin-bottom: 4px;
      width: 10%;
      background: cadetblue !important;
      padding: 10px;
    }
    button.digit.blue{
      background: #01579b !important;
    }
    button.digit:hover{
      background: rgba(110, 0, 0, 0.9) !important;
    }
        
    button, .nextBtn{
        background: rgba(0, 128, 192, 0.9) !important;
        border: none;
        color: #fff;
        width: 13%;
        height: 32px;
        padding: 10px;
        text-transform: uppercase;
        cursor: pointer;
    }
    button:hover{
        background: #0277bd !important;
    }
    .nextBtn {
        background: #fff !important;
        color:  rgba(256, 0, 0, 0.9);
    }
    button:hover .nextBtn:hover, .nextBtn:hover {
        background:  rgba(256, 0, 0, 0.9) !important;
        color: #fff !important; 
    }
    input, select{
        height: 30px;
        width: 10vmax;
        padding: 10px;
        border: 1px solid #01579b;
        background: #fff !important; 
        text-transform: uppercase;
    }
select{
  cursor: pointer;
}
    /* output and input display */
.inputDigit, .outputDigit{
  top: 10vmax;
  padding: 0px;
  width: 40%;
  left: 27%;
  position: sticky;
  min-height: 14vmax;
  float: left;
}
.outputDigit{
  left: 0;
  background: #263238;
  color: #fff;
  width: 23.6%;
  left: 1vmax;
  min-height: 12.4vmax;
}

.outputDigit .exchangeRate, .outputDigit .calculateorOutput, .outputDigit .calculateorInput{
  font-size: 3.3vmax;
  word-wrap: break-word;
  background: transparent;
  color: skyblue;
  text-align: center;
  height: 9vmax;
}
.exchangeRate{
  font-size: 5.5vmax;
}
.outputDigit .exchangeRate::before{
  content: "exchange rate";
  color: saddlebrown;
  top: -0.1vmax;
  left: 1px;
  font-size: 1.5vmax;
  position: absolute;
}
.outputDigit .calculateorOutput{
  font-size: 3vmax;
  height: 7vmax;
  color: #eee;
  background: #ff5722 !important;
}
.outputDigit .calculateorInput{
  font-size: 2vmax;
  height: 4vmax;
  color: #fff;
  background: #3c85bd !important;
}

/* screens */
@media screen and (max-width: 800px){
  .inputDigit, .outputDigit{
    display: none;
    top: 10vmax;
    left: 23vmax;
  }
  .outputDigit{
    top: 10vmax;
    left: 1vmax;
  }
}
  @media screen and (max-width: 700px){
  .inputDigit{
    display: none;
  }
  .outputDigit{
    width: 67%;
  }
  emptya{    display: block;
    width: 10px;
  }
  .header {
    padding: 10px;
    width: 100%;
    position: absolute;
    left: 1%;
  }
  .header span{
    display: block;
    margin-top: -16px;
    margin-left: 61%;
  }
  form, .list{
    width: 80%;
    position: absolute;
    left: 20%;   
  }
}
@media screen and (max-width: 600px){
  .outputDigit{
    width: 67%;
    top: 13vmax;
    left: 2vmax;
  }
  .header {
    padding: 10px;
    width: 100%;
    position: absolute;
    left: 1%;
  }
}
@media screen and (max-width: 400px){
  empty{    display: block;
    width: 10px;
  }
  input, select{
    width: 13vmax;
  }
  form, .list{
    width: 100%;
    position: absolute;
    left: 0%;   
  }
  button{
    width: 87%;
    margin-top: 10px;
  }
  .outputDigit{
    width: 81.5%;
    top: 23vmax;
  }
  .header span{
    display: block;
    margin-top: -16px;
    margin-left: 27%;
  }
}

.hide{
  display: none;
}

.toast{
  display: none;
  position: absolute;
  top: 0%;
  left: 30%;
  background: #ff5722;
  width: 40%;
  height: 2vmax;
  border-radius: 1px 1px 12px 12px;
  overflow: hidden;
  text-transform: capitalize;
  font-size: 1vmax;
  font-weight: 900;
  animation:fading 10s infinite;
}
.toast .toastButton a{
  position: absolute;
  left: 83%;
  top: 10%;
  cursor: pointer;
  background: transparent !important;
  color: #012;
  text-align: center;
}
.toast .toasted{
  text-align: center;
  font-stretch: ultra-condensed;
  padding: 0.5vmax 2vmax;
  background: inherit;
  width: 72%;
  position: absolute;
  color: #fff;
}

@media all and (max-width: 700px){
  .toast{
    top: 0%;
    left: 10%;
    width: 80%;
    height: 2.5vmax;
  }  
}

/* special effects */
.hide{
  display:none!important;
}
.show{
  display:block!important;
  }
.show-inline{
  display:inline-block!important;
}
.spin{animation:w3-spin 2s infinite linear;}
@keyframes w3-spin{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(359deg)}
}
.fading{
  animation:fading 10s infinite;
}
@keyframes fading{
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}
}
.opacity{
  animation:opac 0.8s;
}
@keyframes opac{
  from{opacity:0} 
  to{opacity:1}
}
